<!DOCTYPE html>
<html lang="es">
<head>
	<title>Pokemon</title>
	<meta charset="utf-8">

   <script type="text/javascript" src="js/ajax.js"></script>
  
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  
          

</head>

<body class="grey lighten-5" style="margin-top:100px;">
    <div class="container">
        
        <div class="row">
       
          <label for="fecha_actual">Fecha actual </label>
       
          {{fecha}}

        </div>
       
        
        
        
    </div>
    
   


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>